@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<h2 style="color: red;">@Localizer["View_Title"]</h2>
<p style="color: red;">@Localizer["Description"]</p>

<p style="margin-top: 30px;">@Localizer["Information_1"]</p>
