@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model FamilieLaissIdentity.Models.Account.RegisterViewModel

@{
    string ReturnUrl = ViewBag.ReturnUrl;

    FamilieLaissIdentity.ViewHelper.GenderSelectList GenderSelectList = ViewBag.GenderList;
    FamilieLaissIdentity.ViewHelper.CountrySelectList CountrySelectList = ViewBag.CountryList;
    FamilieLaissIdentity.ViewHelper.SecurityQuestionList SecurityQuestionSelectList = ViewBag.QuestionList;
}

<div class="login-content">
    <div class="lc-block toggled">
        <form class="lcb-form" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ReturnUrl" method="post">
            <!-- Eingabebereich für Username -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input asp-for="UserName" asp-placeholder-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <!-- Eingabebereich für Geschlecht -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <select asp-for="Gender" asp-items="GenderSelectList.GenderList" class="form-control"></select>
                </div>
            </div>

            <!-- Eingabebereich für Vorname -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input asp-for="FirstName" asp-placeholder-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <!-- Eingabebereich für Familienname -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input asp-for="FamilyName" asp-placeholder-for="FamilyName" class="form-control" />
                    <span asp-validation-for="FamilyName" class="text-danger"></span>
                </div>
            </div>

            <!-- Eingabebereich für Straße -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input asp-for="Street" asp-placeholder-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
            </div>

            <!-- Eingabebereich für Hausnummer -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input asp-for="Number" asp-placeholder-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
            </div>

            <!-- Eingabebereich für Postleitzahl -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input asp-for="ZIP" asp-placeholder-for="ZIP" class="form-control" />
                    <span asp-validation-for="ZIP" class="text-danger"></span>
                </div>
            </div>

            <!-- Eingabebereich für Ort -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-city"></i></span>
                <div class="fg-line">
                    <input asp-for="City" asp-placeholder-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>

            <!-- Eingabebereich für Land -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <select asp-for="Country" asp-items="CountrySelectList.CountryList" class="form-control"></select>
                </div>
            </div>

            <!-- Eingabebereich für eMail -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input asp-for="Email" asp-placeholder-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <!-- Eingabebereich für Passwort -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-key"></i></span>
                <div class="fg-line">
                    <input asp-for="Password" asp-placeholder-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <!-- Eingabebereich für Passwort Bestätigung -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-key"></i></span>
                <div class="fg-line">
                    <input asp-for="ConfirmPassword" asp-placeholder-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <!-- Eingabebereich für Sicherheitsfrage -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <select asp-for="SecurityQuestion" asp-items="SecurityQuestionSelectList.QuestionList" class="form-control"></select>
                </div>
            </div>

            <!-- Eingabebereich für Sicherheitsantwort -->
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input asp-for="SecurityAnswer" asp-placeholder-for="SecurityAnswer" class="form-control" />
                    <span asp-validation-for="SecurityAnswer" class="text-danger"></span>
                </div>
            </div>

            <!-- Ausgeben der Buttons -->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">@Localizer["btn_Register"]</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Scripte für die Validierung hinzufügen -->
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

