@model FamilieLaissBackend.Model.Account.AccountNotificationModel

@{
    Layout = "OneColumn_Layout.cshtml";
}

<repeater>
    <layout label="Text only">
        <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td class="w580" width="580">
                        <p align="left" class="article-title"><singleline label="Title">@FamilieLaissBackend.Resources.AdminConfirmAccount_Resources.Header</singleline></p>
                        <div align="left" class="article-content">
                            <multiline label="Description">
                                <p>
                                    @FamilieLaissBackend.Resources.AdminConfirmAccount_Resources.Anrede
                                </p>
                                <p>
                                    @string.Format(FamilieLaissBackend.Resources.AdminConfirmAccount_Resources.Information_1, Model.UserName, Model.Vorname, Model.Familienname)<br />
                                    <br />
                                    <br />
                                    @FamilieLaissBackend.Resources.Mail_Resources.Not_Reply
                                </p>
                            </multiline>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="w580" width="580" height="10"></td>
                </tr>
            </tbody>
        </table>
    </layout>
</repeater>


